* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #ffffff78, #2c7c6170), url("/assets/img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #000;
  clip-path: ellipse(33% 47% at 61% 49%);
}

.heading-primary {
  color: #000;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary-main {
  display: block;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 14px;
  animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 14.5px;
   animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  70% {
     opacity: 0.5;
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  70% {
    opacity: 0.5;
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}